<section>
  <article style="margin:30px">
   <a  href="assets/fulls/01.jpg"><img src="assets/thumbs/01.jpg" alt=""></a>
    <h2>Segunda Vista</h2>
    <p>Esta vista es referencial para completar el ejercicio requerido en este modulo</p>
  </article>
</section>
<button class="btn" style="margin:20px"><a href="http://localhost:3000" target="_blank">VOLVER</a></button>
<section id="thumbnails">
<article>
   <a class="thumbnail" href="assets/fulls/01.jpg"><img src="assets/thumbs/01.jpg" alt=""></a>
    <h2>Foto referencial</h2>
    <p>imagen de muestra para carga</p>
  </article>
  </section>
<footer id="footer">
	<ul class="copyright">
		<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net" >HTML5 UP</a>.</li>
	</ul>
</footer>
